main {
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Knewave', cursive;
}

h3, h4, h5, h6, p, a, small, li, em {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a, a:visited, a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}

button, input[type="submit"] {
  margin: 1rem auto;
  border-radius: 2rem;
  background-color: #4AA3DF;
  padding: 1.5rem 1.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 0.44rem 0.625rem 0 rgba(0, 0, 0, .25);
}

@media (max-width: 520px) {
  button {
    max-width: 300px;
  }
}
