.Certificate-home {
  margin: 1rem 2rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Certificate-home__logo {
  display: block;
  margin: auto;
  max-width: 7rem;
  max-height: 5rem;
  width: auto;
  height: auto;
}

.Certificate-home p {
  margin: 0.2rem 0;
}
