.Hobby {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Entrepreneur .Org__wrapper {
  right: 0;
}

.Entrepreneur .Community-volunteer {
  left: 0;
}

.Hobby__info {
  background-color: #34495E;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
}

.Hobby__info h2 {
  font-size: 3rem;
  text-transform: capitalize;
  padding: 0.25rem 1rem 0 1rem;
}

.Hobby__info p {
  font-size: 1.5rem;
  padding: 0 3rem;
}

.Org__wrapper {
  width: 60%;
}

@media (max-width: 1120px) {
  .Hobby__info p {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }
}

@media (max-width: 720px) {
  .Hobby {
    flex-direction: column;
  }

  .Hobby__info {
    height: 30%;
  }

  .Org__wrapper {
    height: 70%;
  }

  .Hobby__info, .Org__wrapper {
    width: 100%;
  }
}
