.Home {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
}

.Home-section {
  position: relative;
  width:100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Home-overlay {
  object-fit: fill;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.Home-content {
  position: relative;
  z-index: 999999;
  width: 70rem;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.Home-content h1 {
  font-size: 6rem;
}

.Home-content h2 {
  font-size: 4rem;
  margin: 1.25rem 0;
  padding: 0.25rem 1rem 0 1rem;
}

.Home-content h3 {
  font-size: 2rem;
  margin: 1.5rem auto;
}

.Home-content h4 {
  font-size: 1.5rem;
  max-width: 45rem;
  margin: 1rem auto;
  padding: 0 0.5rem;
}

@media (max-width: 12450px) {
  .Home-content h3 {
  width: 56.25rem;
  }
}

@media (max-width: 1120px) {
  .Home-content {
  width: 100%;
  }
}

@media (max-height: 740px) {
  .Home-section, .Home-overlay {
    height: 46rem;
  }
}

@media (max-width: 720px) {
  .Home-content h1 {
    font-size: 4rem;
  }

  .Home-content h2 {
    font-size: 3.5rem;
  }

  .Home-content h4 {
    font-size: 1.5rem;
    max-width: 500px;
  }

  .Home-content h3 {
    font-size: 1.5rem;
    max-width: 500px;
  }
}

@media (max-width: 700px) {
  .Home-section, .Home-overlay {
    height: 100%;
  }

  .Home-overlay h2 {
    margin-top: 0;
  }
}

@media (max-width: 520px) {

  .Home-content h1 {
    max-width: 350px;
  }

  .Home-content h3 {
    font-size: 1.5rem;
    max-width: 350px;
  }
}
