.Main {
  position: absolute;
}

/*.menu-closed {
  animation: slideRight ease-out forwards 1.0s;
  animation-direction: reverse;
}

.menu-open {
  animation: slideRight ease-out forwards 1.0s;
}*/

@keyframes slideLeft{
	from {
		transform: translateX(20rem);
	} to {
		transform: translateX(0);
	}
}

@keyframes slideRight{
	from {
		transform: translateX(0);
	} to {
		transform: translateX(20rem);
	}
}
