.Menu__button {
  width: 4rem;
  height: 4rem;
  position: fixed;
  -webkit-backface-visibility: hidden;
  top: 1rem;
  left: 1rem;
  z-index: 99999;
  margin: 0;
  padding: 0;
  background-color: #4AA3DF;
  border: 0;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0.44rem 0.625rem 0 rgba(0, 0, 0, .25)
}

.Menu__button span {
  display: block;
  position: fixed;
  -webkit-backface-visibility: hidden;
  height: 0.4rem;
  width: 55%;
  background: #FFFFFF;
  border-radius: 0.5rem;
  opacity: 1;
  left: 0.9rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.Menu__button span:nth-child(1) {
  top: 1rem;
}

.Menu__button span:nth-child(2),.Menu__button span:nth-child(3) {
  top: 1.8rem;
}

.Menu__button span:nth-child(4) {
  top: 2.6rem;
}

.Menu__button.open span:nth-child(1) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

.Menu__button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Menu__button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.Menu__button.open span:nth-child(4) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

.Menu__nav {
  top: 0;
  position: fixed;
  -webkit-backface-visibility: hidden;
  min-width: 20rem;
  height: 100vh;
  background-color: #34495E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

.Menu__links {
  top: 50%;
}

.Menu__link-container {
  margin: 2rem 0;
  list-style: none;
}

.Menu__link-container {
  color: #FFFFFF;
}

.Menu__link-container a, .Menu__link-container div {
  font-family: 'Knewave';
  font-size: 3rem;
  cursor: pointer;
}

@media (max-height: 400px) {
  .Menu__link-container a, .Menu__link-container div {
    font-size: 2rem;
  }
}
