.Org {
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Org__shade {
  background-color: rgba(0, 67, 170, 0.8);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
}

.Org__logo {
  display: block;
  margin: auto;
  max-width: 20rem;
  max-height: 12rem;
  width: auto;
  height: auto;
}

.Community-volunteer {
  flex-direction: row-reverse;
}
