.Projects {
    position: relative;
    min-height: 100vh;
    height: 100%;
    background-color: #34495E;
    text-align: center;
    color: #FFFFFF;
}

.Projects__heading {
  margin-top: 0;
    font-size: 4rem;
}

.Projects__subheading {
    font-size: 2rem;
}

.Project__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
