.Scholar__shade {
  top: -1.25rem;
  background: rgba(57,73,94, 0.85);
}

.Certificates {
  width: 50rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .Certificates {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .Scholar__shade {
    top: 0;
  }
}
