.SoftwareEngineer__shade {
  top: -1.25rem;
  background: rgba(57,73,94, 0.85);
}

.Tools {
  max-width: 64rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
}

@media (max-width: 1120px) {
  .Tools {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .SoftwareEngineer__shade {
    top: 0;
  }
}
